In [98]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [99]:
df = pd.DataFrame({"Annee":np.arange(2000,2022),
                  "Nombre Vehicule":np.random.randint(0,10000,22),
                  "Nombre Vehicule 2":np.random.randint(0,10000,22)})

In [100]:
df

    Annee  Nombre Vehicule  Nombre Vehicule 2
0    2000             1493               6156
1    2001             9697               8073
2    2002             8968               3278
3    2003             9090               1087
4    2004             6726                715
5    2005             7919               7903
6    2006             4969               3554
7    2007              797               7969
8    2008             5966                624
9    2009             6994               2763
10   2010             1915               4024
11   2011             8000               2320
12   2012             2457               9743
13   2013             2996                545
14   2014             6645                497
15   2015             7376               9205
16   2016             9871               6583
17   2017             2183               7559
18   2018             2537               9858
19   2019             9187                443
20   2020             7110               4597
21   2021             4641               4381

In [101]:
#selection d'une colonne

df["Annee"]
df.Annee

0     2000
1     2001
2     2002
3     2003
4     2004
5     2005
6     2006
7     2007
8     2008
9     2009
10    2010
11    2011
12    2012
13    2013
14    2014
15    2015
16    2016
17    2017
18    2018
19    2019
20    2020
21    2021
Name: Annee, dtype: int32

In [102]:
#ajouter une colonne

df["Nombre Vehicule 3"] = np.random.randint(0,10000,len(df))

In [103]:
df

    Annee  Nombre Vehicule  Nombre Vehicule 2  Nombre Vehicule 3
0    2000             1493               6156               3400
1    2001             9697               8073               6389
2    2002             8968               3278               1780
3    2003             9090               1087               6041
4    2004             6726                715               7207
5    2005             7919               7903               4346
6    2006             4969               3554                520
7    2007              797               7969               4345
8    2008             5966                624               5699
9    2009             6994               2763               7255
10   2010             1915               4024               3616
11   2011             8000               2320               6072
12   2012             2457               9743               8980
13   2013             2996                545                656
14   2014             6645                497               8896
15   2015             7376               9205                927
16   2016             9871               6583               8138
17   2017             2183               7559               3817
18   2018             2537               9858               1649
19   2019             9187                443               9029
20   2020             7110               4597                306
21   2021             4641               4381               5114

In [104]:
#trouver la longueur d'un vecteur/liste/dictionnaire ...

len(df)

22

In [105]:
df["Categorie"] = ['jaune']*11 + ['vert']*11
df

    Annee  Nombre Vehicule  Nombre Vehicule 2  Nombre Vehicule 3 Categorie
0    2000             1493               6156               3400     jaune
1    2001             9697               8073               6389     jaune
2    2002             8968               3278               1780     jaune
3    2003             9090               1087               6041     jaune
4    2004             6726                715               7207     jaune
5    2005             7919               7903               4346     jaune
6    2006             4969               3554                520     jaune
7    2007              797               7969               4345     jaune
8    2008             5966                624               5699     jaune
9    2009             6994               2763               7255     jaune
10   2010             1915               4024               3616     jaune
11   2011             8000               2320               6072      vert
12   2012             2457               9743               8980      vert
13   2013             2996                545                656      vert
14   2014             6645                497               8896      vert
15   2015             7376               9205                927      vert
16   2016             9871               6583               8138      vert
17   2017             2183               7559               3817      vert
18   2018             2537               9858               1649      vert
19   2019             9187                443               9029      vert
20   2020             7110               4597                306      vert
21   2021             4641               4381               5114      vert

In [106]:
# Filtrer sur la catégorie jaune
df.loc[df.Categorie == 'jaune']
df

    Annee  Nombre Vehicule  Nombre Vehicule 2  Nombre Vehicule 3 Categorie
0    2000             1493               6156               3400     jaune
1    2001             9697               8073               6389     jaune
2    2002             8968               3278               1780     jaune
3    2003             9090               1087               6041     jaune
4    2004             6726                715               7207     jaune
5    2005             7919               7903               4346     jaune
6    2006             4969               3554                520     jaune
7    2007              797               7969               4345     jaune
8    2008             5966                624               5699     jaune
9    2009             6994               2763               7255     jaune
10   2010             1915               4024               3616     jaune
11   2011             8000               2320               6072      vert
12   2012             2457               9743               8980      vert
13   2013             2996                545                656      vert
14   2014             6645                497               8896      vert
15   2015             7376               9205                927      vert
16   2016             9871               6583               8138      vert
17   2017             2183               7559               3817      vert
18   2018             2537               9858               1649      vert
19   2019             9187                443               9029      vert
20   2020             7110               4597                306      vert
21   2021             4641               4381               5114      vert

In [112]:
recharge = pd.read_csv(r'Data\recharge.csv', sep=';')

C:\Users\mailm\AppData\Local\Temp\ipykernel_17260\2655985557.py:1: DtypeWarning: Columns (1,17,44,50) have mixed types. Specify dtype option on import or set low_memory=False.
  recharge = pd.read_csv(r'Data\recharge.csv', sep=';')

In [113]:
recharge

,nom_amenageur,siren_amenageur,contact_amenageur,nom_operateur,contact_operateur,telephone_operateur,nom_enseigne,id_station_itinerance,id_station_local,nom_station,...,datagouv_dataset_id,datagouv_resource_id,datagouv_organization_or_owner,consolidated_longitude,consolidated_latitude,consolidated_code_postal,consolidated_commune,consolidated_is_lon_lat_correct,consolidated_is_code_insee_verified,Unnamed: 50
0,ARCACHON,213300098,responsable.proprete@ville-arcachon.fr,Izivia,sav@izivia.com,972668001,ARCACHON,FROTHPOTHR18151,FR*SOD*S*OTHR*181*5*_*_,ARCACHON - MOULLEAU,...,61126f9cf52dc5cf5c3e78c9,884762be-51f3-44c3-b811-1e14c5d89262,izivia,-1.201663,44.641716,33120.0,Arcachon,True,True,NaN
1,ARCACHON,213300098,responsable.proprete@ville-arcachon.fr,Izivia,sav@izivia.com,972668001,ARCACHON,FROTHPOTHR17941,FR*SOD*S*OTHR*179*4*_*_,ARCACHON - GARE,...,61126f9cf52dc5cf5c3e78c9,884762be-51f3-44c3-b811-1e14c5d89262,izivia,-1.165259,44.659664,33120.0,Arcachon,True,True,NaN
2,ARCACHON,213300098,responsable.proprete@ville-arcachon.fr,Izivia,sav@izivia.com,972668001,ARCACHON,FROTHPOTHR17851,FR*SOD*S*OTHR*178*5*_*_,ARCACHON - AIGUILLON,...,61126f9cf52dc5cf5c3e78c9,884762be-51f3-44c3-b811-1e14c5d89262,izivia,-1.146988,44.656649,33120.0,Arcachon,True,True,NaN
3,ARCACHON,213300098,responsable.proprete@ville-arcachon.fr,Izivia,sav@izivia.com,972668001,ARCACHON,FROTHPOTHR17811,FR*SOD*S*OTHR*178*1*_*_,ARCACHON - AIGUILLON,...,61126f9cf52dc5cf5c3e78c9,884762be-51f3-44c3-b811-1e14c5d89262,izivia,-1.146988,44.656649,33120.0,Arcachon,True,True,NaN
4,ARCACHON,213300098,responsable.proprete@ville-arcachon.fr,Izivia,sav@izivia.com,972668001,ARCACHON,FROTHPOTHR17841,FR*SOD*S*OTHR*178*4*_*_,ARCACHON - AIGUILLON,...,61126f9cf52dc5cf5c3e78c9,884762be-51f3-44c3-b811-1e14c5d89262,izivia,-1.146988,44.656649,33120.0,Arcachon,True,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50795,See You Sun,824641294,aguerin@seeyousun.fr,See You Sun,aguerin@seeyousun.fr,NaN,L'incroyable,FRSYSEETIK,NaN,L'incroyable,...,61556c731edfc97c31a156dc,c890d14e-2784-4c23-b03c-9c6aa0a5c02c,see-you-sun,-1.724781,48.108326,NaN,Rennes,True,True,NaN
50796,LUMI'IN,807940069,secretariat@lumi-in.fr,LUMI'IN,secretariat@lumi-in.fr,754374751,LUMI'IN,FRLUMEFASTHOTELPERPIGNANSUD11,2460897a-a623-11ed-afa1-0242ac120002,FAST HOTEL PERPIGNAN SUD,...,63e110a93250852c10aa1cd9,bcf25dea-b9bb-409e-8f9f-a4a2034eb2a7,lumiin,2.863237,42.685251,NaN,Perpignan,True,True,NaN
50797,LUMI'IN,807940069,secretariat@lumi-in.fr,LUMI'IN,secretariat@lumi-in.fr,754374751,LUMI'IN,FRLUMELEPROVENCE11,5a7d2c7a-a628-11ed-afa1-0242ac120002,LE PROVENCE,...,63e110a93250852c10aa1cd9,bcf25dea-b9bb-409e-8f9f-a4a2034eb2a7,lumiin,5.802524,43.814724,4100.0,Manosque,True,True,NaN
50798,LUMI'IN,807940069,secretariat@lumi-in.fr,LUMI'IN,secretariat@lumi-in.fr,754374751,LUMI'IN,FRLUMECABRIESGOLF11,5c0bb6f0-a629-11ed-afa1-0242ac120002,CABRIES GOLF DEVELOPPEMENT,...,63e110a93250852c10aa1cd9,bcf25dea-b9bb-409e-8f9f-a4a2034eb2a7,lumiin,5.370315,43.421597,13480.0,Cabriès,True,True,NaN
50799,LUMI'IN,807940069,secretariat@lumi-in.fr,LUMI'IN,secretariat@lumi-in.fr,754374751,LUMI'IN,FRLUMERHONEAVISAN11,3c380d96-a62a-11ed-afa1-0242ac120002,RHONEA BOUTIQUE DE VISAN,...,63e110a93250852c10aa1cd9,bcf25dea-b9bb-409e-8f9f-a4a2034eb2a7,lumiin,4.949088,44.313413,84820.0,Visan,True,True,NaN

In [114]:
recharge.columns

Index(['nom_amenageur', 'siren_amenageur', 'contact_amenageur',
       'nom_operateur', 'contact_operateur', 'telephone_operateur',
       'nom_enseigne', 'id_station_itinerance', 'id_station_local',
       'nom_station', 'implantation_station', 'adresse_station',
       'code_insee_commune', 'coordonneesXY', 'nbre_pdc', 'id_pdc_itinerance',
       'id_pdc_local', 'puissance_nominale', 'prise_type_ef', 'prise_type_2',
       'prise_type_combo_ccs', 'prise_type_chademo', 'prise_type_autre',
       'gratuit', 'paiement_acte', 'paiement_cb', 'paiement_autre',
       'tarification', 'condition_acces', 'reservation', 'horaires',
       'accessibilite_pmr', 'restriction_gabarit', 'station_deux_roues',
       'raccordement', 'num_pdl', 'date_mise_en_service', 'observations',
       'date_maj', 'cable_t2_attache', 'last_modified', 'datagouv_dataset_id',
       'datagouv_resource_id', 'datagouv_organization_or_owner',
       'consolidated_longitude', 'consolidated_latitude',
       'consolidated_code_postal', 'consolidated_commune',
       'consolidated_is_lon_lat_correct',
       'consolidated_is_code_insee_verified', 'Unnamed: 50'],
      dtype='object')

In [115]:
recharge.head()

,nom_amenageur,siren_amenageur,contact_amenageur,nom_operateur,contact_operateur,telephone_operateur,nom_enseigne,id_station_itinerance,id_station_local,nom_station,...,datagouv_dataset_id,datagouv_resource_id,datagouv_organization_or_owner,consolidated_longitude,consolidated_latitude,consolidated_code_postal,consolidated_commune,consolidated_is_lon_lat_correct,consolidated_is_code_insee_verified,Unnamed: 50
0,ARCACHON,213300098,responsable.proprete@ville-arcachon.fr,Izivia,sav@izivia.com,972668001,ARCACHON,FROTHPOTHR18151,FR*SOD*S*OTHR*181*5*_*_,ARCACHON - MOULLEAU,...,61126f9cf52dc5cf5c3e78c9,884762be-51f3-44c3-b811-1e14c5d89262,izivia,-1.201663,44.641716,33120.0,Arcachon,True,True,NaN
1,ARCACHON,213300098,responsable.proprete@ville-arcachon.fr,Izivia,sav@izivia.com,972668001,ARCACHON,FROTHPOTHR17941,FR*SOD*S*OTHR*179*4*_*_,ARCACHON - GARE,...,61126f9cf52dc5cf5c3e78c9,884762be-51f3-44c3-b811-1e14c5d89262,izivia,-1.165259,44.659664,33120.0,Arcachon,True,True,NaN
2,ARCACHON,213300098,responsable.proprete@ville-arcachon.fr,Izivia,sav@izivia.com,972668001,ARCACHON,FROTHPOTHR17851,FR*SOD*S*OTHR*178*5*_*_,ARCACHON - AIGUILLON,...,61126f9cf52dc5cf5c3e78c9,884762be-51f3-44c3-b811-1e14c5d89262,izivia,-1.146988,44.656649,33120.0,Arcachon,True,True,NaN
3,ARCACHON,213300098,responsable.proprete@ville-arcachon.fr,Izivia,sav@izivia.com,972668001,ARCACHON,FROTHPOTHR17811,FR*SOD*S*OTHR*178*1*_*_,ARCACHON - AIGUILLON,...,61126f9cf52dc5cf5c3e78c9,884762be-51f3-44c3-b811-1e14c5d89262,izivia,-1.146988,44.656649,33120.0,Arcachon,True,True,NaN
4,ARCACHON,213300098,responsable.proprete@ville-arcachon.fr,Izivia,sav@izivia.com,972668001,ARCACHON,FROTHPOTHR17841,FR*SOD*S*OTHR*178*4*_*_,ARCACHON - AIGUILLON,...,61126f9cf52dc5cf5c3e78c9,884762be-51f3-44c3-b811-1e14c5d89262,izivia,-1.146988,44.656649,33120.0,Arcachon,True,True,NaN

In [133]:
# creer departement = code postal / 1000
# modifie ma colonne departement en prenant l'arrondi inférieur avec la fonction round

recharge['Departement'] =  (recharge.consolidated_code_postal/1000)
recharge['Departement'] = recharge['Departement'].round(0)

departement_nb = recharge.Departement.value_counts().reset_index()

departement_nb.rename(columns = {'index':'Departement', 'Departement':'Nombre'})

    Departement  Nombre
0           0.0    1963
1          92.0    1459
2          59.0    1189
3          78.0    1038
4          34.0     913
..          ...     ...
93          5.0      29
94         10.0      26
95          8.0      17
96         43.0      16
97         90.0      15

[98 rows x 2 columns]